<ul class="weapons-list">
	<li>
		<a href="/appendix/weapons-per-powertype/physical" class="btn btn-red">
			<img src="/assets/images/power-types/physical.png" alt="Physical">
			<span>Physical</span>
		</a>
	</li>
	<li>
		<a href="/appendix/weapons-per-powertype/tactical" class="btn btn-green">
			<img src="/assets/images/power-types/tactical.png" alt="Tactical">
			<span>Tactical</span>
		</a>
	</li>
	<li>
		<a href="/appendix/weapons-per-powertype/hydro" class="btn btn-blue">
			<img src="/assets/images/power-types/hydro.png" alt="Hydro">
			<span>Hydro</span>
		</a>
	</li>
	<li>
		<a href="/appendix/weapons-per-powertype/shadow" class="btn btn-black">
			<img src="/assets/images/power-types/shadow.png" alt="Shadow">
			<span>Shadow</span>
		</a>
	</li>
	<li>
		<a href="/appendix/weapons-per-powertype/forgotten" class="btn btn-grey">
			<img src="/assets/images/power-types/forgotten.png" alt="Forgotten">
			<span>Forgotten</span>
		</a>
	</li>
	<li>
		<a href="/appendix/weapons-per-powertype/rift" class="btn btn-pink">
			<img src="/assets/images/power-types/rift.png" alt="Rift">
			<span>Rift</span>
		</a>
	</li>
	<li>
		<a href="/appendix/weapons-per-powertype/draconic" class="btn btn-orange">
			<img src="/assets/images/power-types/draconic.png" alt="Draconic">
			<span>Draconic</span>
		</a>
	</li>
	<li>
		<a href="/appendix/weapons-per-powertype/law" class="btn btn-yellow">
			<img src="/assets/images/power-types/law.png" alt="Law">
				<span>Law</span>
		</a>
	</li>
	<li>
		<a href="/appendix/weapons-per-powertype/arcane" class="btn btn-purple">
			<img src="/assets/images/power-types/arcane.png" alt="Arcane">
			<span>Arcane</span>
		</a>
	</li>
</ul>
